'.source.dylan':
  'editor':
    'commentStart': '/*'
    'commentEnd': '*/'
    'increaseIndentPattern': '^[^%]*(\\b(afterwards|begin|block|case|cleanup|define|else|elseif|exception|finally|for|if|iterate|profiling|select|unless|until|when|while)\\b(?!.*\\b(end)\\b.*))'
    'decreaseIndentPattern': '^\\s*\\b(end|afterwards|cleanup|else|elseif|exception|finally)\\b'
    'foldEndPattern': '(?x)\n\t\t(   ^\\s*+end.*$\n\t\t|   [\\/\\/] .*? \\(end\\) \\s*+ $    \t\t# Sune’s special marker\n\t\t|   ^\\s*\\/\\/\\s*\\#endregion\n\t\t)'
