'.source.dylan':
  'editor':
    'commentStart': '/*'
    'commentEnd': '*/'
    'increaseIndentPattern': '^[^%]*(\\b(afterwards|begin|block|case|cleanup|define|else|elseif|exception|finally|for|if|iterate|profiling|select|unless|until|when|while)\\b(?!.*\\b(end)\\b.*))'
    'decreaseIndentPattern': '^\\s*\\b(end|afterwards|cleanup|else|elseif|exception|finally)\\b'
